@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.hero-section .bg-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
}

.hero-section .relative.z-10 {
    position: relative;
    z-index: 10; 
}

/* Colores personalizados */
.bg-purple-900 {
    background-color: #4A148C; 
}

.bg-yellow-500 {
    background-color: #FFD700; 
}

.text-gray-900 {
    color: #333333;
}

.text-gray-300 {
    color: #b3b3b3;
}

/* Hover para enlaces en el Navbar y Footer */
a:hover {
    color: #ffffffee; 
}